/.vscode
/6b116153-2002-4b7b-81f6-1c4ff7f3a181.png
/ehospital-systems-7N4fLzcqzr_blog.jpg
/app.log
.log
/node_modules
/dist
.env
/env
/__pycache__
/__pycache__/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore virtual environment
env/
venv/