
.notfound{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background:transparent;
    height: 65vh;
    box-shadow: -15px 25px 1px black;
    overflow: hidden;
    margin-top: 50px;
    flex-direction: column;
}

