.notfound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
    border: 1px solid red;
    background:transparent;
    overflow: hidden;
    flex-direction: column;
}