.sidebar {
  width: 251px; 
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid var(--SeafoamGreen); 
}
.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #333; 
  text-decoration: none;
}

.nav-link.active {
  background-color: var(--primary); 
  color: #fff;
}

.nav-link i {
  font-size: 1.25rem; 
}

.nav-link .ms-2 {
  margin-left: 0.5rem;
}

.nav-content {
  padding-left: 20px;
}

.nav-content .nav-link {
  padding: 10px 20px;
}

.nav-content .nav-link i {
  font-size: 0.9rem; 
}

.nav-content .nav-link.active {
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto; 
    position: relative; 
  }
}
