
.appointment-item {
    border: 1px solid var(--second);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: var(--bg-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 16px;}
  
    .ap{
      transition: all 0.3s;
    }
.ap h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 24px;
    text-align: center;
  }
  
 .ap p {
    margin: 8px 0;
    font-size: 16px;
    color: #555;
  }
  
.ap strong {
    color: #333;
  }
  
 .ap div {
    padding: 16px;
  }
  