.sidebar-nav {
  padding-left: 0;
  width: 250px;
  background-color: var(--Pear-Green);
  padding-top: 20px;
  position: fixed; 
  height: 100%;
  overflow-x: hidden; 
}
.nav-item {
  padding: 10px 15px;
}
.nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link.collapsed:hover {
  background-color: var(--Celadon-Green);
  border-radius: 4px;
}

.nav-link i {
  font-size: 18px;
  margin-right: 10px;
}

.nav-content {
  padding-left: 30px;
}

.nav-content li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}

.nav-content .nav-link {
  color: #555;
}

.nav-content .nav-link:hover {
  color: var(--primary);
  background-color: transparent;
}

.bi-chevron-down {
  margin-left: auto;
  transition: transform 0.2s ease;
}

.collapsed .bi-chevron-down {
  transform: rotate(0deg);
}

.collapse.show .bi-chevron-down {
  transform: rotate(180deg);
}

/* scroll bar */
.sidebar-nav::-webkit-scrollbar {
  width: 10px; 
}

/* Scrollbar Track */
.sidebar-nav::-webkit-scrollbar-track {
  border-radius: 10px; 
  background-color: transparent;
}

/* Scrollbar Handle */
.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: var(--primary); 
  border-radius:10px; 
  border: 3px solid var(--Celadon-Green);
}
.sidebar-nav::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-blue); 
}
