.dap{
  background-color: #fff;
  padding: 25px;
  margin-top: 90px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(1, 111, 0, 0.3);
  height: auto;
}
.appointment-item {
    border: 1px solid #34d399;
    padding: 16px;
    width: 85%;
    border-radius: 8px;
    background-color: var(--bg-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 16px;
  }

.dap h1 {
    font-size: 34px;
    color: #333;
    margin-bottom: 24px;
    text-align: center;
  }
 .dap p {
    margin: 8px 0;
    font-size: 16px;
    color: #333;
  }
  
.dap strong {
    color: var(--primary);
  }
  
 .dap div {
    padding: 16px;
  }
  .button-group {
    display: flex;
    gap: 100px; 
  }
  
  .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bg-success {
    background-color: #28a745;
  }
  
  .bg-danger {
    background-color: #dc3545;
  }
  