.dmr {
  padding: 2rem;
  background-color: #f8f9fa;
  height: auto;
  margin-top: 50px;
}

.medical-records {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.medical-records h3 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  color: #333;
  text-align: center;
}

.medical-record-item {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.medical-record-item:last-child {
  border-bottom: none;
}

.medical-record-item p {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #555;
}

.medical-record-item strong {
  color: var(--primary);
}

.search-bar {
  width: 100%; 
  max-width: 400px; 
  padding: 10px; 
  margin: 20px 0;
  border: 1px solid #22ffca;
  border-radius: 5px; 
  font-size: 16px;
  transition: border-color 0.3s; 
}

.search-bar:focus {
  outline: none; 
  border-color: #00ffb3; 
  box-shadow: 0 0 5px rgba(34, 255, 202, 0.5);
}
