.pt{
margin-top: 60px;
background-color: #f9f9f9;

}

.pt .form-container {
  background-color: var(--bg-light);
  padding: 15px;
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
}
.pt .form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.pt .form-group {
  margin-bottom: 15px;
}
.pt .form-group label {
  display: block;
  margin-bottom: 5px;
}
.pt .form-group input,
.form-group select,
.form-group textarea {
  width: 98%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #45a049;
}