:root{
  scroll-behavior: smooth;
  --primary: #41B8AF;
  --second: #218838;
  --bg: #333;
  --bg-light: #f8f9fa;
  --red:#F7493C;
  --bg-blue:#316F79;
  
--SeafoamGreen: #B5E0B7;
--Celadon-Green: #B2D8B7;
--MossGreen: #98BF91;
--Eucalyptus-Green: #85A394;
--Pear-Green: #d9e4e1;

}

*{
  font-family: 'Roboto', sans-serif;
}


.sidebarapp {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.main-content{
  scale: 0.95;
  width: calc(100vw - 251px);
  float: right;
  font-family:'Times New Roman', Times, serif;
  transition: all 0.3s;
  background-color: var(--bg-light);
 
}
@media (max-width:1199px){
  .main-content{
      padding: 20px;
  }
}