
.search-bar {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-left: 10%;
  }
  @media (max-width: 768px) {
    .search-bar {
      display: none;
    }
  }  
  .search-form {
    display: flex;
    align-items: center;
    border: 1px solid var(--search);
    border-radius: 25px;
    padding: 5px 10px;
    background-color: var(bg-light);
    transition: all 0.3s ease;
  }
  
  .search-form:hover {
    border-color: var(--primary);
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-form input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    font-size: 16px;
    background-color: transparent;
    transition: width 0.3s ease;
  }
  
  .search-form input[type="text"]::placeholder {
    color: #333;
  }
  
  .search-form input[type="text"]:focus {
    width: 250px;
  }
  
  .search-form button {
    border: none;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
  }
  
  .search-form button i {
    font-size: 20px;
    color: var(--primary);
    transition: color 0.3s ease;
  }
  
  .search-form button:hover i {
    color: var(--primary);
  }
  
  @media (max-width: 600px) {
    .search-form input[type="text"] {
      width: 150px;
    }
  
    .search-form input[type="text"]:focus {
      width: 200px;
    }
  }
  